* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(189, 226, 244);
  width: 100vw;
  height: 45vh;
  border-bottom-left-radius: 6rem;
  z-index: -100;
}

.container {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.bottom {
  background-color: white;
  width: 40%;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.bone {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;
  gap: 5px;
}
